{% extends './_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
        <!--Staff- start -->
        <section id="list_staff">
            <div class="container">
                <div class="row">
                    <div class='col-md-12 col-lg-8 offset-lg-2'>
                        <div class="">
                            <table class="table">
                                <tr>
                                    <th>Username</th>
                                    <th></th>
                                </tr>
                            {% for staff in staff_list %}
                                <tr>
                                    <td>{{ staff }}</td>
                                    <td><a href="{% url 'staff:edit_staff' staff.pk %}"><i class="fas fa-edit"></i></a></td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="staff-form">
            <div class="container">
                <div class="row">
                    <div class='col-md-12 col-lg-8 offset-lg-2'>
                        <div class="">
                            <h2 class="page-header">Dodaj osobę</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" name="submit" value="dodaj" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--Staff - stop -->
{% endblock content %}