{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section id="list_offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                {% if offer_list %}
                <table class="table">
                    <tr>
                        <th>Kategoria</th>
                        <th>Tytuł</th>
                        <th></th>
                    </tr>
                    {% for offer in offer_list %}
                    <tr id="{{ offer.pk }}">
                        <td>{{ offer.get_category_display }}</td>
                        <td>{{ offer.title }}</td>
                        <td data-url="{% url 'offer:show_offer' offer.pk %}" class="offer-details">pokaż szczegóły</td>
                        <td><a href="{% url 'offer:edit_offer' offer.pk %}">edytuj</a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Brak ofert do wyświetlenia</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section id="add_offer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="jumbotron">
                    <h2 class="page-header">Dodaj ofertę</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="add" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}