{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block link_management %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer:add_news' %}">zarządzanie aktualnościami</a>
                    </li>
                    {% endblock link_management %}


{% block content %}

<section id="show_news">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <h2>{{ news.title }}</h2>
                <p>krótki opis: {{ news.short_descr }}</p>
                <p>program: {{ news.entry }}</p>
            </div>
        </div>
    </div>
</section>
<section id="edit_news">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div >
                    <h2 class="page-header">Edytuj aktualności</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="usuń" class="btn btn-danger">
                        <input type="submit" name="submit" value="edytuj" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}