{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block link_management %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer:add_offer' %}">zarządzanie ofertą</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer:select_offer' %}">zarządzanie wyborem</a>
                    </li>
                    {% endblock link_management %}


{% block content %}

<section id="show_offer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <h2>{{ offer.title }}</h2>
                <p>kategoria: <strong>{{ offer.get_category_display }}</strong></p>
                <p>czas trwania: {{ offer.duration_in_days }}{% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}</p>
                <p>krótki opis: {{ offer.short_descr }}</p>
                <p>program: {{ offer.schedule | safe}}</p>
                {% if offer.price %}<p>cena: {{ offer.price|floatformat:2 }}</p>{% endif %}
                {% if offer.withdrawn %}<p>wycofana z oferty</p>{% endif %}
            </div>
        </div>
    </div>
</section>
<section id="edit_offer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div >
                    <h2 class="page-header">Edytuj ofertę</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="edytuj" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}