{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block link_management %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer:add_holiday' %}">zarządzanie wakacjami</a>
                    </li>
{% endblock link_management %}


{% block content %}

<section id="show_holiday" class="show-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <h2>{{ holiday.title }}</h2>
                <p>krótki opis: {{ holiday.short_descr }}</p>
                <p>program: {{ holiday.schedule | safe | linebreaks }}</p>
            </div>
        </div>
    </div>
</section>
<section id="edit_holiday">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div >
                    <h2 class="page-header">Edytuj wakacje</h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="usuń" class="btn btn-danger">
                        <input type="submit" name="submit" value="edytuj" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}