{% extends './_base.html' %}

{% block link_management %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer:add_offer' %}">zarządzanie ofertą</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#school_trip">wybór dla szkół</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work_trip">wybór dla firm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pilgrimage">pielgrzymki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#recommend">polecamy</a>
                    </li>
{% endblock link_management %}


{% block content %}

<!--Offer selection - start -->
{% for category in categories %}
<section id="{{ category }}" class="select-offer">
    <div class="container">
        <div class="row">
            {% if category == 'pilgrimage' %}
            <h2>Oferta pielgrzymkowa</h2>
            {% elif category == 'school_trip' %}
            <h2>Oferta dla szkół </h2>
            {% else %}
            <h2>Oferta dla firm</h2>
            {% endif %}
        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="select-drop select-container ui-widget-header" data-sort="0" data-url="{% url 'offer:set_selected' %}">
                    {% for offer in all_offer %}
                    {% if offer.category == category and offer.selected and offer.selected_sort == 0 %}
                    <p data-id="{{ offer.id }}" data-sort="0" class="select-drag ui-widget-content">
                        <strong>{{ offer.title }}</strong> - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="select-drop select-container ui-widget-header" data-sort="1" data-url="{% url 'offer:set_selected' %}">
                    {% for offer in all_offer %}
                    {% if offer.category == category and offer.selected and offer.selected_sort == 1 %}
                    <p data-id="{{ offer.id }}" data-sort="1" class="select-drag ui-widget-content">
                        <strong>{{ offer.title }}</strong> - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="select-drop select-container ui-widget-header" data-sort="2" data-url="{% url 'offer:set_selected' %}">
                    {% for offer in all_offer %}
                    {% if offer.category == category and offer.selected and offer.selected_sort == 2 %}
                    <p data-id="{{ offer.id }}" data-sort="2" class="select-drag ui-widget-content">
                        <strong>{{ offer.title }}</strong> - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>


            <div class="list-row select-drop ui-widget-header" data-url="{% url 'offer:set_selected' %}">
                <ul id="school-offer">
                    {% for offer in all_offer %}
                    {% if offer.category == category and offer.selected == False %}
                    <li data-id="{{ offer.id }}" class="select-drag ui-widget-content"><strong>{{ offer.title }}</strong>
                         - {{ offer.duration_in_days }} {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %} </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endfor category in categories %}
<!--Offer selection - stop -->

<!--Selection for recommendation - start -->
<section id="recommend" class="select-offer">
    <div class="container">
        <div class="row">
            <h2>Polecamy</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="select-drop select-container ui-widget-header" data-sort="0" data-url="{% url 'offer:set_recommended' %}">
                    {% for offer in all_offer %}
                    {% if offer.recommended and offer.recommended_sort == 0 %}
                    <p data-id="{{ offer.id }}" data-sort="0" class="select-drag ui-widget-content">
                        {{ offer.get_category_display }}: <strong>{{ offer.title }}</strong>
                         - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="select-drop select-container ui-widget-header" data-sort="1" data-url="{% url 'offer:set_recommended' %}">
                    {% for offer in all_offer %}
                    {% if offer.recommended and offer.recommended_sort == 1 %}
                    <p data-id="{{ offer.id }}" data-sort="1" class="select-drag ui-widget-content">
                        {{ offer.get_category_display }}: <strong>{{ offer.title }}</strong>
                         - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="select-drop select-container ui-widget-header" data-sort="2" data-url="{% url 'offer:set_recommended' %}">
                    {% for offer in all_offer %}
                    {% if offer.recommended and offer.recommended_sort == 2 %}
                    <p data-id="{{ offer.id }}" data-sort="2" class="select-drag ui-widget-content">
                        {{ offer.get_category_display }}: <strong>{{ offer.title }}</strong>
                         - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="list-row select-drop ui-widget-header" data-url="{% url 'offer:set_recommended' %}">
                <ul id="all-offer">
                    {% for offer in all_offer %}
                    {% if offer.recommended == False %}
                    <li data-id="{{ offer.id }}" class="select-drag ui-widget-content">{{ offer.get_category_display }}:
                        <strong>{{ offer.title }}</strong> - {{ offer.duration_in_days }}
                        {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %} </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Selection for recommendation - stop -->
{% endblock content %}