{% extends './_base.html' %}

{% block content %}

<!--Selection for school - start -->
<section id="school_trip" class="select-offer">
    <div class="container">
        <div class="row">
            <h2>Oferta dla szkół </h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="select-drop ui-widget-header sort0" data-url="{% url 'offer:set_selected' %}">
                    {% if school_selected.0 %}
                    <p data-id="{{ school_selected.0.id }}">{{ school_selected.0.title }}</p>
                    {% endif %}
                </div>
                <div class="select-drop ui-widget-header sort1" data-url="{% url 'offer:set_selected' %}">
                    {% if school_selected.1 %}
                    <p data-id="{{ school_selected.1.id }}">{{ school_selected.1.title }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-6">
                {% if school_offer %}
                <ul id="school-offer">
                    {% for offer in school_offer %}
                    <li data-id="{{ offer.id }}" class="select-drag ui-widget-content">{{ offer.title }} - {{ offer.duration_in_days }} {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %} </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Brak oferty dla szkół</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--Selection for school - stop -->

<!--Selection for work - start -->
<section id="work_trip" class="select-offer">
    <div class="container">
        <div class="row">
            <h2>Oferta dla firm </h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="select-drop ui-widget-header sort0" data-url="{% url 'offer:set_selected' %}">
                    {% if work_selected.0 %}
                    <p data-id="{{ work_selected.0.id }}">{{ work_selected.0.title }}</p>
                    {% endif %}
                </div>
                <div class="select-drop ui-widget-header sort1" data-url="{% url 'offer:set_selected' %}">
                    {% if work_selected.1 %}
                    <p data-id="{{ work_selected.1.id }}">{{ work_selected.1.title }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-6">
                {% if work_offer %}
                <ul id="work-offer">
                    {% for offer in work_offer %}
                    <li data-id="{{ offer.id }}" class="select-drag ui-widget-content">{{ offer.title }} - {{ offer.duration_in_days }} {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %} </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Brak oferty dla firm</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--Selection for work - stop -->

<!--Selection for pilgrimage - start -->
<section id="pilgrimage" class="select-offer">
    <div class="container">
        <div class="row">
            <h2>Oferta pielgrzymkowa </h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="select-drop ui-widget-header sort0" data-url="{% url 'offer:set_selected' %}">
                    {% if pilgrimage_selected.0 %}
                    <p data-id="{{ pilgrimage_selected.0.id }}">{{ pilgrimage_selected.0.title }}</p>
                    {% endif %}
                </div>
                <div class="select-drop ui-widget-header sort1" data-url="{% url 'offer:set_selected' %}">
                    {% if pilgrimage_selected.1 %}
                    <p data-id="{{ pilgrimage_selected.1.id }}">{{ pilgrimage_selected.1.title }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-6">
                {% if pilgrimage_offer %}
                <ul id="pilgrimage-offer">
                    {% for offer in pilgrimage_offer %}
                    <li data-id="{{ offer.id }}" class="select-drag ui-widget-content">{{ offer.title }} - {{ offer.duration_in_days }} {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %} </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Brak oferty pielgrzymkowej</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--Selection for pilgrimage - stop -->

{% endblock content %}