{% extends './_base.html' %}

{% block nav %}{% endblock nav %}

{% block content %}
<header id="manager-intro">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <a href="{% url 'offer:list_offer' %}" class="manager" >
                    <h5>Wszystkie oferty</h5>
                </a>
                <a href="{% url 'offer:add_offer' cat='for_school' %}" class="manager" >
                    <h5>Dodaj ofertę dla szkół</h5>
                </a>
                <a href="{% url 'offer:add_offer' cat='for_work' %}" class="manager" >
                    <h5>Dodaj ofertę dla firm</h5>
                </a>
                <a href="{% url 'offer:add_offer' cat='pilgrimage' %}" class="manager" >
                    <h5>Dodaj pielgrzymkę</h5>
                </a>
                <a href="{% url 'offer:add_offer' cat='holiday' %}" class="manager">
                    <h5>Dodaj wakacje</h5>
                </a>
                <a href="{% url 'offer:select_offer' %}" class="manager" >
                    <h5>Wybór z oferty</h5>
                </a>
                <a href="{% url 'offer:add_news' %}" class="manager" >
                    <h5>Blog</h5>
                </a>
                <a href="{% url 'tour:add_tour' %}" class="manager" >
                    <h5>Wyjazdy</h5>
                </a>
            </div>
        </div>
    </div>
</header>
{% endblock content %}