/* General - start*/
body {
  font-family: 'Rajdhani', sans-serif; }

input[type="search"].ui-widget, .ui-menu-item-wrapper {
  font-family: 'Rajdhani', sans-serif !important; }

strong {
  font-weight: 600; }

a {
  color: black; }
  a:hover {
    color: #B91B22;
    font-weight: 600;
    text-decoration: none; }

[type="button"] {
  color: black; }
  [type="button"]:hover {
    color: #B91B22;
    font-weight: 600;
    text-decoration: none; }

.btn-primary {
  color: #fff;
  border-color: #B91B22;
  background-color: #B91B22;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 0; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: transparent;
    border-color: #B91B22;
    color: #B91B22;
    box-shadow: none; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.pagination {
  margin-bottom: 20px;
  font-size: 18px; }
  .pagination a {
    color: grey; }
    .pagination a i {
      font-size: 12px;
      line-height: 20px;
      margin-left: 10px;
      margin-right: 10px; }
  .pagination .current-number {
    width: 20px;
    height: 20px;
    background: #B91B22;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 20px; }

section {
  padding-bottom: 8vh; }
  section:first-of-type {
    padding-top: 8vh; }
    section:first-of-type.offer_title {
      padding-top: 10vh;
      padding-bottom: 9vh;
      text-align: center;
      color: #fff;
      /*
            &#title_news {
                color: black;
            } */ }
      section:first-of-type.offer_title a > i {
        color: #fff; }
      section:first-of-type.offer_title#title_search {
        color: black; }

.selection {
  padding-bottom: 0; }

.offer_table {
  padding-top: 8vh;
  padding-bottom: 8vh; }

.background {
  background-color: #0c1433; }

footer .row:nth-child(1) {
  padding-top: 8vh;
  padding-bottom: 8vh; }

h1 {
  font-size: 100px;
  font-weight: 300;
  padding-bottom: 1vh;
  letter-spacing: 2px; }

.offer-details {
  color: #0c1433;
  font-size: .9rem;
  line-height: .9rem;
  transform: translateY(7%); }

td:hover .offer-details, .selected_wrapper:hover .offer-details {
  color: #B91B22;
  cursor: pointer; }

/* General - stop*/
/* General responsive - start*/
@media (max-width: 991px) and (orientation: portrait) {
  section {
    padding-bottom: 8vw; }
    section:first-of-type {
      padding-top: 8vw; }
  .selection {
    padding-bottom: 0; }
  .offer_title {
    padding-top: 10vw;
    padding-bottom: 9vw; }
  .offer_table {
    padding-top: 8vw;
    padding-bottom: 8vw; }
  .background {
    height: 8vw; }
  footer .row:nth-child(1) {
    padding-top: 1vw;
    padding-bottom: 8vw; }
    footer .row:nth-child(1) div {
      padding-top: 8vw;
      padding-bottom: 0; }
  h1 {
    font-size: 100px;
    font-weight: 300;
    padding-bottom: 1vw; } }

@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 80px; }
  .full-offer h2 {
    font-size: 50px; }
  .full-offer a > .fas.fa-arrow-circle-down {
    font-size: 2.2em; } }

@media (min-width: 767px) {
  .fa-arrow-circle-down {
    font-size: 3em; } }

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
    font-weight: 400; }
  .full-offer h2 {
    font-size: 30px;
    font-weight: 400; }
  .full-offer a > .fas.fa-arrow-circle-down {
    font-size: 2em; }
  nav img {
    width: 180px;
    height: auto; } }

/* General responsive - stop*/
/* Menu - start*/
.navbar-nav.desktop {
  margin-left: auto;
  margin-right: 0; }
  .navbar-nav.desktop .nav-link {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px; }
    .navbar-nav.desktop .nav-link:last-child {
      margin-right: 20px; }

nav img {
  width: 250px;
  height: auto; }

nav strong a {
  color: grey; }

nav a > i {
  padding-left: 25px;
  margin-left: 25px;
  color: #B91B22; }
  nav a > i:hover {
    color: #0c1433;
    cursor: pointer; }

nav .btn {
  color: #B91B22;
  background: none; }
  nav .btn:hover {
    color: #ced4da; }

nav .form-control {
  border-radius: 0;
  border-color: #B91B22; }
  nav .form-control:focus {
    border-color: #ced4da;
    box-shadow: none; }

.to-display {
  display: none;
  top: 114px;
  position: absolute;
  z-index: 1000;
  width: auto;
  background: rgba(255, 255, 255, 0.8); }

#displayNavbar ul {
  list-style: none;
  padding-left: 0; }

.navbar {
  padding-top: 3vh;
  padding-bottom: 3vh; }

/* Menu - stop*/
/* Menu responsive - start*/
@media (max-width: 991px) {
  .navbar-expand-md .btn.btn-outline-danger {
    margin-right: 0; }
  .navbar-expand-md .form-control {
    display: inline-block;
    width: calc(100% - 50px); }
  .navbar-expand-md .navbar-toggler {
    border-size: 0;
    padding-left: 0;
    padding-right: 0; }
  .navbar-expand-md #navbarSupportedContent {
    width: 100%; } }

@media (max-width: 575px) {
  nav img {
    width: 180px;
    height: auto; } }

/* Menu responsive - stop*/
/* Footer - start*/
footer {
  background-color: #0c1433;
  color: #e6e7ea;
  font-weight: 500; }
  footer .row:nth-child(1) {
    padding-top: 8vh;
    padding-bottom: 8vh; }
  footer h6 {
    font-weight: 700;
    color: #ced0d6;
    text-transform: uppercase; }
  footer p:last-child {
    margin-bottom: 0; }
  footer a {
    color: black;
    color: #fff; }
    footer a:hover {
      color: #B91B22;
      font-weight: 600;
      text-decoration: none; }
  footer strong a {
    color: grey; }
  footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0; }

/* Footer - stop*/
/* Footer responsive - start*/
/* Footer responsive - stop*/
/* MainPage - start*/
#header .container-fluid {
  padding-left: 0;
  padding-right: 0; }

#header .offer-img {
  height: 44vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #header .offer-img .offer-mask {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3); }
    #header .offer-img .offer-mask .offer-info {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      #header .offer-img .offer-mask .offer-info .offer-link {
        display: none;
        font-size: 2rem;
        color: lightgoldenrodyellow;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px; }
  #header .offer-img:hover .offer-mask {
    height: 90%;
    transition: all .3s ease-out; }
    #header .offer-img:hover .offer-mask .offer-info .offer-link {
      display: block; }

#offer-img-1 {
  background-image: url("../images/AdobeStock_83919622_Preview.jpeg"); }

#offer-img-2 {
  background-image: url("../images/_MG_0139.jpg"); }

#offer-img-3 {
  background-image: url("../images/AdobeStock_171725583_Preview.jpeg"); }

#offer-img-4 {
  background-image: url("../images/_MG_2214-corr.jpg"); }

#offer-img-5 {
  background-image: url("../images/AdobeStock_138326898_Preview.jpeg"); }

#offer-img-6 {
  background-image: url("../images/recommended/AdobeStock_31306421_Preview.jpeg"); }

/* MainPage - stop*/
/* MainPage responsive - start*/
@media (max-width: 767px) and (orientation: portrait) {
  #header .offer-img {
    height: 29vh; } }

@media (max-width: 575px) and (orientation: landscape) {
  #header .offer-img {
    height: 65vh; } }

/* MainPage responsive - stop*/
/* OfferHeader - start*/
.header_container .container-fluid {
  padding-left: 0;
  padding-right: 0; }

.header_container .header_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 54vh; }

#header_for_school_img {
  background-image: url("../images/AdobeStock_83919622_Preview.jpeg"); }

#header_pilgrimage_img {
  background-position: 50% 20%;
  background-image: url("../images/_MG_2214-corr.jpg"); }

#header_for_work_img {
  background-position: 50% 72%;
  background-image: url("../images/_MG_0139.jpg"); }

#header_holiday_img {
  background-position: 50% 35%;
  background-image: url("../images/AdobeStock_171725583_Preview.jpeg"); }

#header_news_img {
  background-position: 50% 71%;
  background-image: url("../images/recommended/AdobeStock_31306421_Preview.jpeg"); }

#header_recommended_img {
  background-position: 50% 69%;
  background-image: url("../images/AdobeStock_138326898_Preview.jpeg"); }

#header_search_img {
  background-image: url("../images/_MG_0568-corr.jpg"); }

/* OfferHeader - stop*/
/* OfferHeader responsive - start*/
/* OfferHeader responsive - stop*/
/* OfferTitle - start*/
#title_for_school {
  background: #f4d300; }

#title_for_work {
  background: #207ba3; }

#title_pilgrimage {
  background: #d28c22; }

#title_recommended {
  background: #157796; }

#title_holiday {
  background: #ffc005; }

#title_news {
  background: #6eabe5; }

/* OfferTitle - stop*/
/* OfferTitle responsive - start*/
/* OfferTitle responsive - stop*/
/* OfferSelection - start*/
.selection {
  background: #B91B22; }
  .selection .selected-item {
    height: 45vh; }
  .selection#selected_recommended .selected-item {
    height: 33vh; }
  .selection .selected_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .selection .selected_data {
    background-color: #F7F5F5; }
    .selection .selected_data .selected_wrapper {
      width: 86%;
      margin: 7% 7% 0 7%;
      bottom: 7%; }
      .selection .selected_data .selected_wrapper h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700; }
      .selection .selected_data .selected_wrapper p {
        text-align: left;
        font-size: 14px; }
        .selection .selected_data .selected_wrapper p:first-of-type {
          display: table-cell;
          vertical-align: middle;
          padding-top: 2%;
          padding-bottom: 2%;
          font-size: 16px; }
      .selection .selected_data .selected_wrapper .offer-details {
        float: right;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-size: .9rem;
        line-height: .9rem;
        transform: translateY(7%); }
  .selection .new-row {
    background-color: #fff;
    padding: 7%;
    display: none; }
    .selection .new-row p {
      white-space: pre-wrap; }

.selection-offer {
  background: transparent; }
  .selection-offer.search {
    background-color: #B91B22; }
  .selection-offer .selected-item {
    height: 33vh; }
  .selection-offer .selected_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*#selected_for_school_img0 {
    background-image: url("../images/AdobeStock_203413374_Preview.jpeg");
}

#selected_for_school_img1 {
    background-image: url("../images/AdobeStock_123235384_Preview.jpeg");
}

#selected_for_school_img2 {
    background-image: url("../images/AdobeStock_181976409_Preview.jpeg");


#selected_pilgrimage_img0 {
    background-position: 50% 100%;
    background-image: url("../images/pilgrimage/AdobeStock_157182090_Preview.jpeg");
}

#selected_pilgrimage_img1 {
    background-image: url("../images/pilgrimage/AdobeStock_105381495_Preview.jpeg");
}

#selected_pilgrimage_img2 {
    background-position: 0% 50%;
    background-image: url("../images/pilgrimage/AdobeStock_113589316_Preview.jpeg");
}

#selected_for_work_img0 {
    background-position: 50% 25%;
    background-image: url("../images/work/AdobeStock_216649646_Preview.jpeg");
}

#selected_for_work_img1 {
    background-image: url("../images/work/AdobeStock_206018751_Preview.jpeg");
}

#selected_for_work_img2 {
    background-image: url("../images/work/AdobeStock_137853264_Preview.jpeg");
}

#recommended_img0 {
    background-image: url("../images/recommended/AdobeStock_190033421_Preview.jpeg");
}

#recommended_img1 {
    background-image: url("../images/recommended/AdobeStock_196141359_Preview.jpeg");
}

#recommended_img2 {
    background-image: url("../images/recommended/AdobeStock_214637081_Preview.jpeg");
}
}*/
/* OfferSelection - stop*/
/* OfferSelection responsive - start*/
@media (max-width: 767px) {
  .selection .selected_img {
    height: 30vh; }
  .selection .selected_data {
    height: auto;
    min-height: initial; }
  .selection#selected_recommended .selected_data {
    height: auto; }
  .selection#selected_recommended .selected_img {
    height: 33vh; } }

/* OfferSelection responsive - stop*/
/* OfferNext - start*/
.table {
  margin-bottom: 0; }
  .table th, .table td {
    border-top: none; }
    .table th:last-child, .table td:last-child {
      text-align: right; }
    .table th:first-of-type, .table td:first-of-type {
      text-align: left; }
    .table th h2, .table td h2 {
      font-size: .9rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700; }
    .table th .offer_details, .table td .offer_details {
      font-size: .9rem;
      line-height: .9rem;
      transform: translateY(7%); }
  .table .new-row {
    display: none; }
    .table .new-row th, .table .new-row td {
      padding: 40px; }

.new-row {
  background-color: #F7F5F5; }

/* OfferNext - stop*/
/* OfferNext responsive - start*/
/* OfferNext responsive - stop*/
/* OfferFull - start*/
.full-offer {
  text-align: center;
  background: #0c1433;
  color: #e1e1e1;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  .full-offer.for_school {
    background: #f4d300; }
  .full-offer.for_work {
    background: #207ba3; }
  .full-offer.pilgrimage {
    background: #d28c22; }
  .full-offer.recommended {
    background: #157796; }
  .full-offer.news {
    background: #6eabe5; }
  .full-offer.holiday {
    background: #ffc005; }
  .full-offer.search {
    background: #fff; }
  .full-offer.home {
    background: #B91B22; }
  .full-offer h2 {
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 2px; }
  .full-offer a > .fas.fa-arrow-circle-down {
    font-size: 2.5em;
    color: white; }

/* OfferFull - stop*/
/* OfferFull responsive - start*/
/* OfferFull responsive - stop*/
/* OfferBottom - start*/
#bottom-img-section {
  padding-bottom: 0; }

.offer-bottom-img {
  background-size: cover;
  height: 30vh; }

/* OfferBottom - stop*/
/* OfferBottom responsive - start*/
/* OfferBottom responsive - stop*/
/* Copyright - start */
#copyright {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  color: #B91B22;
  background: #fff;
  text-align: center; }
  #copyright p {
    margin-bottom: 0; }
    #copyright p span {
      font-weight: bold; }

/* copyright - stop */
/* News - start */
#news {
  background: #B91B22;
  padding-bottom: 0; }
  #news .container {
    background: #fff; }
  #news .blog-content {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-right: 0; }
  #news .news_date {
    width: 80px;
    height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 30px; }
    #news .news_date .news_date_container {
      width: 100%;
      height: 50%;
      position: relative;
      font-size: 35px; }
      #news .news_date .news_date_container .news_day {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #news .news_date .news_date_container .news_month {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); }
  #news h2 {
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1px; }
  #news .news_entry {
    padding-top: 15px; }
  #news img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #news aside {
    padding: 30px 0px; }
    #news aside ul {
      list-style: none;
      padding: 0; }
      #news aside ul li > a {
        font-weight: 500; }

@media (max-width: 991px) {
  #news h2 {
    font-size: 35px;
    font-weight: 400; }
  #news .news_date {
    width: 70px;
    height: 70px;
    margin-right: 20px; }
    #news .news_date .news_date_container {
      font-size: 30px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #news h2 {
    font-size: 25px;
    font-weight: 500; }
  #news .news_date {
    width: 60px;
    height: 60px;
    margin-right: 20px; }
    #news .news_date .news_date_container {
      font-size: 25px; } }

@media (max-width: 575px) {
  #news h2 {
    font-size: 23px;
    font-weight: 500; }
  #news .news_date {
    width: 45px;
    height: 45px;
    margin-right: 15px; }
    #news .news_date .news_date_container {
      font-size: 20px; }
  #news .blog-content {
    margin-left: 0; } }

/* News - stop */
/* Holiday - start */
#holiday {
  background: #B91B22;
  padding-bottom: 0; }
  #holiday .row {
    background: #fff; }
  #holiday img {
    width: 100%;
    height: 100%;
    max-height: 550px;
    object-fit: cover; }
  #holiday .holiday-info {
    padding: 30px 50px 10px; }
  #holiday p.holiday-info {
    padding-top: 0;
    font-size: 13px; }
  #holiday h2.holiday-info {
    font-size: 1.5rem; }
  #holiday .places {
    text-transform: uppercase; }
  #holiday .holiday-details {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; }
  #holiday .holiday-schedule {
    display: none; }

@media (max-width: 1200px) {
  #holiday .holiday-info {
    padding: 30px 40px 10px; } }

@media (max-width: 991px) {
  #holiday .holiday-info {
    padding: 30px 30px 10px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #holiday .holiday-info {
    padding: 30px 20px 10px; } }

@media (max-width: 575px) {
  #holiday .holiday-info {
    padding: 30px 12px 10px; } }

/* Holiday - stop */
/* Modal - start */
.modal-dialog {
  max-width: 90%; }

#modal-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/AdobeStock_116787150_Preview.jpeg");
  width: 100%;
  height: 100%; }

button.close {
  opacity: 1;
  color: #fff;
  background-color: #B91B22;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1600;
  right: -15px;
  top: -15px; }

@media (max-width: 992px) {
  #modal-img {
    height: 50vh; } }

@media (max-width: 768px) {
  #modal-img {
    display: none; } }

/* Modal - stop */
#social-media a {
  display: inline-block;
  width: 30px;
  heigth: 30px;
  line-height: 30px;
  font-size: 30px;
  color: white;
  margin-right: 7px;
  margin-left: 7px; }
  #social-media a:hover {
    font-weight: initial;
    color: #B91B22; }

#social-media.search a {
  color: black; }
