/* General - start*/
body {
  font-family: 'Rajdhani', sans-serif; }

input[type="search"].ui-widget, .ui-menu-item-wrapper {
  font-family: 'Rajdhani', sans-serif !important; }

strong {
  font-weight: 600; }

a {
  color: black; }
  a:hover {
    color: #B91B22;
    font-weight: 600;
    text-decoration: none; }

a:not([href]):not([tabindex]):hover {
  cursor: pointer;
  color: #B91B22; }

html [type=button] {
  -webkit-appearance: none; }

.btn-primary {
  color: #fff;
  border-color: #B91B22;
  background-color: #B91B22;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: transparent;
    border-color: #B91B22;
    color: #B91B22;
    box-shadow: none; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.pagination {
  margin-bottom: 20px;
  font-size: 18px; }
  .pagination a {
    color: grey; }
    .pagination a i {
      font-size: 12px;
      line-height: 20px;
      margin-left: 10px;
      margin-right: 10px; }
  .pagination .current-number {
    width: 20px;
    height: 20px;
    background: #B91B22;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 20px; }

section {
  padding-bottom: 8vh; }
  section:first-of-type {
    padding-top: 8vh; }
    section:first-of-type.offer_title {
      text-align: center;
      color: #fff; }
      section:first-of-type.offer_title a > i {
        color: #fff; }
      section:first-of-type.offer_title#title_search {
        color: black; }

.selection {
  padding-bottom: 0; }

.offer_table {
  padding-top: 8vh;
  padding-bottom: 8vh; }

.background {
  background-color: #0c1433; }

footer .row:nth-child(1) {
  padding-top: 8vh;
  padding-bottom: 8vh; }

h1 {
  font-size: 100px;
  font-weight: 300;
  padding-bottom: 1vh;
  letter-spacing: 2px; }

td:hover .offer-details, .selection-row:hover .offer-details {
  color: #B91B22;
  cursor: pointer; }

/* General - stop*/
/* General responsive - start*/
@media (max-width: 991px) and (orientation: portrait) {
  section {
    padding-bottom: 8vw; }
    section:first-of-type {
      padding-top: 8vw; }
  .selection {
    padding-bottom: 0; }
  .offer_table {
    padding-top: 8vw;
    padding-bottom: 8vw; }
  .background {
    height: 8vw; }
  footer .row:nth-child(1) {
    padding-top: 1vw;
    padding-bottom: 8vw; }
    footer .row:nth-child(1) div {
      padding-top: 8vw;
      padding-bottom: 0; }
  h1 {
    font-size: 100px;
    font-weight: 300;
    padding-bottom: 1vw; } }

@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 80px; }
  .full-offer h2 {
    font-size: 50px; }
  .full-offer a > .fas.fa-arrow-circle-down {
    font-size: 2.2em; } }

@media (min-width: 767px) {
  .fa-arrow-circle-down {
    font-size: 3em; } }

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
    font-weight: 400; }
  .full-offer h2 {
    font-size: 30px;
    font-weight: 400; }
  .full-offer a > .fas.fa-arrow-circle-down {
    font-size: 2em; }
  nav img {
    width: 180px;
    height: auto; } }

/* General responsive - stop*/
/* Menu - start*/
.navbar-nav.desktop {
  margin-left: auto;
  margin-right: 0; }
  .navbar-nav.desktop .nav-link {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px; }
    .navbar-nav.desktop .nav-link:last-child {
      margin-right: 20px; }

nav img {
  width: 250px;
  height: auto; }

nav strong a {
  color: grey; }

nav a > i {
  padding-left: 25px;
  margin-left: 25px;
  color: #B91B22; }
  nav a > i:hover {
    color: #0c1433;
    cursor: pointer; }

nav .btn {
  color: #B91B22;
  background: none; }
  nav .btn:hover {
    color: #ced4da; }

nav .form-control {
  border-radius: 0;
  border-color: #B91B22; }
  nav .form-control:focus {
    border-color: #ced4da;
    box-shadow: none; }

.to-display {
  display: none;
  top: 114px;
  position: absolute;
  z-index: 1000;
  width: auto;
  background: rgba(255, 255, 255, 0.8); }

#displayNavbar ul {
  list-style: none;
  padding-left: 0; }

.navbar {
  padding-top: 3vh;
  padding-bottom: 3vh; }

/* Menu - stop*/
/* Menu responsive - start*/
@media (max-width: 991px) {
  .navbar-expand-md .btn.btn-outline-danger {
    margin-right: 0; }
  .navbar-expand-md .form-control {
    display: inline-block;
    width: calc(100% - 50px); }
  .navbar-expand-md .navbar-toggler {
    border-size: 0;
    padding-left: 0;
    padding-right: 0; }
  .navbar-expand-md #navbarSupportedContent {
    width: 100%; } }

@media (max-width: 575px) {
  nav img {
    width: 180px;
    height: auto; } }

/* Menu responsive - stop*/
/* Footer - start*/
footer {
  background-color: #0c1433;
  color: #e6e7ea;
  font-weight: 500; }
  footer .row:nth-child(1) {
    padding-top: 8vh;
    padding-bottom: 8vh; }
  footer h6 {
    font-weight: 700;
    color: #ced0d6;
    text-transform: uppercase; }
  footer p:last-child {
    margin-bottom: 0; }
  footer a {
    color: black;
    color: #fff; }
    footer a:hover {
      color: #B91B22;
      font-weight: 600;
      text-decoration: none; }
  footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0; }

/* Footer - stop*/
/* Footer responsive - start*/
/* Footer responsive - stop*/
/* MainPage - start*/
#header .container-fluid {
  padding-left: 0;
  padding-right: 0; }

#header .offer-img {
  height: 44vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #header .offer-img .offer-mask {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3); }
    #header .offer-img .offer-mask .offer-info {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      #header .offer-img .offer-mask .offer-info .offer-link {
        display: none;
        font-size: 2rem;
        color: lightgoldenrodyellow;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px; }
  #header .offer-img:hover .offer-mask {
    height: 90%;
    transition: all .3s ease-out; }
    #header .offer-img:hover .offer-mask .offer-info .offer-link {
      display: block; }

#offer-img-1 {
  background-image: url("../images/main/576/for_school.jpg"); }

#offer-img-2 {
  background-image: url("../images/main/576/for_work.jpg"); }

#offer-img-3 {
  background-image: url("../images/main/576/holiday.jpg"); }

#offer-img-4 {
  background-image: url("../images/main/576/pilgrimage.jpg"); }

#offer-img-5 {
  background-image: url("../images/main/576/recommended.jpg"); }

#offer-img-6 {
  background-image: url("../images/main/576/blog.jpg"); }

/* MainPage - stop*/
/* MainPage responsive - start*/
@media (max-width: 767px) and (orientation: portrait) {
  #header .offer-img {
    height: 29vh; } }

@media (max-width: 575px) and (orientation: landscape) {
  #header .offer-img {
    height: 29vw; } }

/* MainPage responsive - stop*/
/* OfferHeader - start*/
.header_container .container-fluid {
  padding-left: 0;
  padding-right: 0; }

.header_container .header_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 54vh; }

#header_for_school_img {
  background-image: url("../images/main/1980/for_school.jpg"); }

#header_pilgrimage_img {
  background-position: 50% 20%;
  background-image: url("../images/main/1980/pilgrimage.jpg"); }

#header_for_work_img {
  background-position: 50% 72%;
  background-image: url("../images/main/1980/for_work.jpg"); }

#header_holiday_img {
  background-position: 50% 35%;
  background-image: url("../images/main/1980/holiday.jpg"); }

#header_news_img {
  background-position: 50% 50%;
  background-image: url("../images/main/1980/blog.jpg"); }

#header_recommended_img {
  background-position: 50% 69%;
  background-image: url("../images/main/1980/recommended.jpg"); }

#header_search_img {
  background-image: url("../images/main/1980/search.jpg"); }

/* OfferHeader - stop*/
/* OfferHeader responsive - start*/
@media (max-width: 1200px) {
  #header_for_school_img {
    background-image: url("../images/main/1200/for_school.jpg"); }
  #header_pilgrimage_img {
    background-image: url("../images/main/1200/pilgrimage.jpg"); }
  #header_for_work_img {
    background-image: url("../images/main/1200/for_work.jpg"); }
  #header_holiday_img {
    background-image: url("../images/main/1200/holiday.jpg"); }
  #header_news_img {
    background-image: url("../images/main/1200/blog.jpg"); }
  #header_recommended_img {
    background-image: url("../images/main/1200/recommended.jpg"); }
  #header_search_img {
    background-image: url("../images/main/1200/search.jpg"); } }

@media (max-width: 992px) {
  #header_for_school_img {
    background-image: url("../images/main/992/for_school.jpg"); }
  #header_pilgrimage_img {
    background-image: url("../images/main/992/pilgrimage.jpg"); }
  #header_for_work_img {
    background-image: url("../images/main/992/for_work.jpg"); }
  #header_holiday_img {
    background-image: url("../images/main/992/holiday.jpg"); }
  #header_news_img {
    background-image: url("../images/main/992/blog.jpg"); }
  #header_recommended_img {
    background-image: url("../images/main/992/recommended.jpg"); }
  #header_search_img {
    background-image: url("../images/main/992/search.jpg"); } }

@media (max-width: 767px) {
  #header_for_school_img {
    background-image: url("../images/main/767/for_school.jpg"); }
  #header_pilgrimage_img {
    background-image: url("../images/main/767/pilgrimage.jpg"); }
  #header_for_work_img {
    background-image: url("../images/main/767/for_work.jpg"); }
  #header_holiday_img {
    background-image: url("../images/main/767/holiday.jpg"); }
  #header_news_img {
    background-image: url("../images/main/767/blog.jpg"); }
  #header_recommended_img {
    background-image: url("../images/main/767/recommended.jpg"); }
  #header_search_img {
    background-image: url("../images/main/767/search.jpg"); } }

@media (max-width: 576px) {
  #header_for_school_img {
    background-image: url("../images/main/576/for_school.jpg"); }
  #header_pilgrimage_img {
    background-image: url("../images/main/576/pilgrimage.jpg"); }
  #header_for_work_img {
    background-image: url("../images/main/576/for_work.jpg"); }
  #header_holiday_img {
    background-image: url("../images/main/576/holiday.jpg"); }
  #header_news_img {
    background-image: url("../images/main/576/blog.jpg"); }
  #header_recommended_img {
    background-image: url("../images/main/576/recommended.jpg"); }
  #header_search_img {
    background-image: url("../images/main/576/search.jpg"); } }

/* OfferHeader responsive - stop*/
/* OfferTitle - start*/
#title_for_school {
  background: #f4d300; }

#title_for_work {
  background: #207ba3; }

#title_pilgrimage {
  background: #d28c22; }

#title_recommended {
  background: #157796; }

#title_holiday {
  background: #ffc005; }

#title_news {
  background: #6eabe5; }

/* OfferTitle - stop*/
/* OfferTitle responsive - start*/
/* OfferTitle responsive - stop*/
/* OfferSelection - start*/
.selection {
  background: #B91B22; }
  .selection .selected-item {
    height: 45vh; }
  .selection#selected_recommended .selected-item {
    height: 33vh; }
  .selection .selected_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .selection .selected_data {
    background-color: #F7F5F5; }
    .selection .selected_data .selected_wrapper {
      width: 86%;
      margin: 7% 7% 0 7%;
      bottom: 7%; }
      .selection .selected_data .selected_wrapper h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700; }
      .selection .selected_data .selected_wrapper p {
        text-align: left;
        font-size: 14px; }
        .selection .selected_data .selected_wrapper p:first-of-type {
          display: table-cell;
          vertical-align: middle;
          padding-top: 2%;
          padding-bottom: 2%;
          font-size: 16px; }
      .selection .selected_data .selected_wrapper .offer-details {
        float: right;
        line-height: 1.8;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 12px; }
  .selection .new-row {
    background-color: #fff;
    padding: 7%;
    display: none; }
    .selection .new-row p {
      white-space: pre-wrap; }

.selection-offer {
  background: transparent; }
  .selection-offer.search {
    background-color: #B91B22; }
  .selection-offer .selected-item {
    height: 33vh; }
  .selection-offer .selected_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/* OfferSelection - stop*/
/* OfferSelection responsive - start*/
@media (max-width: 767px) {
  .selection .selected_img {
    height: 30vh; }
  .selection .selected_data {
    height: auto;
    min-height: initial; }
  .selection#selected_recommended .selected_data {
    height: auto; }
  .selection#selected_recommended .selected_img {
    height: 33vh; } }

/* OfferSelection responsive - stop*/
/* OfferFull - start*/
.full-offer {
  text-align: center;
  background: #0c1433;
  color: #e1e1e1;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  .full-offer.for_school {
    background: #f4d300; }
  .full-offer.for_work {
    background: #207ba3; }
  .full-offer.pilgrimage {
    background: #d28c22; }
  .full-offer.recommended {
    background: #157796; }
  .full-offer.news {
    background: #6eabe5; }
  .full-offer.holiday {
    background: #ffc005; }
  .full-offer.search {
    background: #fff; }
  .full-offer.home {
    background: #B91B22; }
  .full-offer h2 {
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 2px; }
  .full-offer a > .fas.fa-arrow-circle-down {
    font-size: 2.5em;
    color: white; }

/* OfferFull - stop*/
/* OfferFull responsive - start*/
/* OfferFull responsive - stop*/
/* Copyright - start */
#copyright {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  color: #B91B22;
  background: #fff;
  text-align: center; }
  #copyright p {
    margin-bottom: 0; }
    #copyright p span {
      font-weight: 700; }

/* copyright - stop */
/* News - start */
#news {
  background: #B91B22;
  padding-bottom: 0; }
  #news .container {
    background: #fff; }
  #news .blog-content {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-right: 0; }
  #news .news_date {
    width: 80px;
    height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 30px; }
    #news .news_date .news_date_container {
      width: 100%;
      height: 50%;
      position: relative;
      font-size: 35px; }
      #news .news_date .news_date_container .news_day {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); }
      #news .news_date .news_date_container .news_month {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); }
  #news h2 {
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1px; }
  #news .news_entry {
    padding-top: 15px; }
  #news img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #news aside {
    padding: 30px 0px; }
    #news aside ul {
      list-style: none;
      padding: 0; }
      #news aside ul li > a {
        font-weight: 500; }

@media (max-width: 991px) {
  #news h2 {
    font-size: 35px;
    font-weight: 400; }
  #news .news_date {
    width: 70px;
    height: 70px;
    margin-right: 20px; }
    #news .news_date .news_date_container {
      font-size: 30px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #news h2 {
    font-size: 25px;
    font-weight: 500; }
  #news .news_date {
    width: 60px;
    height: 60px;
    margin-right: 20px; }
    #news .news_date .news_date_container {
      font-size: 25px; } }

@media (max-width: 575px) {
  #news h2 {
    font-size: 23px;
    font-weight: 500; }
  #news .news_date {
    width: 45px;
    height: 45px;
    margin-right: 15px; }
    #news .news_date .news_date_container {
      font-size: 20px; }
  #news .blog-content {
    margin-left: 0; } }

/* News - stop */
/* Holiday - start */
#holiday {
  background: #B91B22;
  padding-bottom: 0; }
  #holiday .row {
    background: #fff; }
    #holiday .row:nth-of-type(even) {
      background: #F7F5F5; }
  #holiday img {
    width: 100%;
    height: 100%;
    max-height: 550px;
    object-fit: cover; }
  #holiday .holiday-info {
    padding: 30px 50px 10px; }
    #holiday .holiday-info.holiday-duration {
      padding-left: 0;
      padding-right: 0; }
  #holiday p.holiday-info {
    padding-top: 0;
    font-size: 13px; }
  #holiday h2.holiday-info {
    font-size: 1.5rem; }
  #holiday .places {
    text-transform: uppercase; }
  #holiday p.holiday-dates {
    font-size: 20px;
    color: #B91B22; }
    #holiday p.holiday-dates .open-offer {
      font-size: 14px;
      text-transform: uppercase;
      display: block;
      letter-spacing: 1px; }
  #holiday .holiday-details {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; }
  #holiday .holiday-schedule {
    display: none; }
  #holiday .btn-primary {
    color: #B91B22;
    border-color: #B91B22;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 1px; }
    #holiday .btn-primary:hover, #holiday .btn-primary:active, #holiday .btn-primary:focus {
      background-color: #B91B22;
      color: #fff;
      box-shadow: none; }

@media (max-width: 1200px) {
  #holiday .holiday-info {
    padding: 30px 40px 10px; } }

@media (max-width: 991px) {
  #holiday .holiday-info {
    padding: 30px 30px 10px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #holiday .holiday-info {
    padding: 30px 20px 10px; } }

@media (max-width: 575px) {
  #holiday .holiday-info {
    padding: 30px 12px 10px; } }

/* Holiday - stop */
/* Modal - start */
.modal-dialog {
  max-width: 90%; }

#modal-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/modal/1200/modal.jpg");
  background-position: 25% 0%;
  width: 100%;
  height: 100%; }

button.close {
  opacity: 1;
  color: #fff;
  background-color: #B91B22;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1600;
  right: -15px;
  top: -15px; }

@media (max-width: 992px) {
  #modal-img {
    height: 50vh; } }

@media (max-width: 768px) {
  #modal-img {
    display: none; } }

/* Modal - stop */
#social-media a {
  display: inline-block;
  width: 30px;
  heigth: 30px;
  line-height: 30px;
  font-size: 30px;
  color: white;
  margin-right: 7px;
  margin-left: 7px; }
  #social-media a:hover {
    font-weight: initial;
    color: #B91B22; }

#social-media.search a {
  color: #000; }
  #social-media.search a:hover {
    color: #B91B22; }

#social-media.home a:hover {
  color: #0c1433; }

/*OFFER - start*/
form .btn.btn-primary {
  float: right; }

.show-elements {
  background-color: #F7F5F5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px; }

#offer-nav {
  background-color: #fff;
  box-shadow: 3px 3px #F7F5F5;
  padding-top: 2vh;
  padding-bottom: 2vh; }
  #offer-nav img {
    width: 200px;
    height: auto; }
  #offer-nav a {
    color: black; }
    #offer-nav a:hover {
      color: #B91B22;
      font-weight: 600;
      text-decoration: none; }

@media (min-width: 992px) {
  #offer-nav .navbar-nav {
    float: right;
    margin-right: 0;
    margin-left: auto;
    text-align: center; }
    #offer-nav .navbar-nav .nav-item {
      padding: 0px 15px; } }

#list_offer .table, #list_news .table, #list_staff .table {
  margin-bottom: 70px; }
  #list_offer .table td:last-child, #list_news .table td:last-child, #list_staff .table td:last-child {
    width: 50px; }
  #list_offer .table td:nth-child(2), #list_news .table td:nth-child(2), #list_staff .table td:nth-child(2) {
    width: 50px; }
  #list_offer .table .new-row, #list_news .table .new-row, #list_staff .table .new-row {
    background-color: #F7F5F5; }

.list-elements .offer-details, .list-elements a {
  color: black; }
  .list-elements .offer-details:hover, .list-elements a:hover {
    color: #B91B22;
    font-weight: 600;
    text-decoration: none; }

.list-elements td:nth-of-type(3) {
  text-align: right; }

.list-elements td:last-of-type {
  text-align: right; }

.list-elements td:first-of-type {
  text-align: left; }

.select-offer h2 {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  margin-bottom: 3vh; }

.select-offer .select-container {
  width: 100%;
  height: 150px;
  background-color: #fff;
  border: solid lightgrey 1px;
  position: relative; }
  .select-offer .select-container:first-child {
    margin-bottom: 3vh; }
  .select-offer .select-container:hover {
    box-shadow: 3px 3px 5px 1px rgba(165, 164, 164, 0.3); }
  .select-offer .select-container p {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; }
    .select-offer .select-container p strong {
      color: #B91B22; }

.select-offer .list-row {
  width: 100%;
  padding: 0 15px; }

.select-offer ul {
  list-style: none;
  padding-left: 0;
  text-align: center; }

#manager-intro {
  padding-top: 2vw;
  padding-bottom: 2vw; }
  #manager-intro .manager {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #F7F5F5;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: inline-block; }
    #manager-intro .manager h5 {
      text-align: center;
      color: grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #manager-intro .manager:hover {
      box-shadow: 3px 3px 5px 1px rgba(165, 164, 164, 0.3); }
      #manager-intro .manager:hover h5 {
        color: #B91B22; }

select.custom-select {
  border: none;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: auto;
  height: auto;
  vertical-align: none; }
  select.custom-select:focus {
    border-color: none;
    box-shadow: none; }

#participants td:nth-of-type(3) {
  text-align: left; }

#link-with-redirect {
  color: #fff;
  font-weight: 600; }
  #link-with-redirect:hover {
    color: #fff; }

/*OFFER - stop*/
