#header_for_school .container-fluid {
  padding-left: 0;
  padding-right: 0; }

#header_for_school #header_for_school_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/AdobeStock_83919622_Preview.jpeg");
  height: 50vh; }

#header_for_school h1 {
  padding-top: 15vh;
  padding-bottom: 15vh;
  font-size: 100px;
  font-weight: 300;
  text-align: center; }

.selection .selected_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh; }

.selection .selected_data {
  background-color: #F7F5F5;
  height: 40vh;
  position: relative; }
  .selection .selected_data .selected_wrapper {
    position: absolute;
    width: 86%;
    margin: 7% 7% 0 7%;
    bottom: 7%; }
    .selection .selected_data .selected_wrapper h2 {
      margin-bottom: 15%; }

@media (min-width: 992px) {
  .selection .row.no-gutters:last-child h2, .selection .row.no-gutters:last-child p {
    text-align: right; } }

#selected_for_school_img1 {
  background-image: url("../images/AdobeStock_203413374_Preview.jpeg"); }

#selected_for_school_img2 {
  background-image: url("../images/AdobeStock_123235384_Preview.jpeg"); }

#offer_for_school {
  padding-top: 15vh;
  padding-bottom: 15vh; }
  #offer_for_school th:last-child, #offer_for_school td:last-child {
    text-align: right; }
  #offer_for_school th:first-of-type, #offer_for_school td:first-of-type {
    text-align: left; }
