{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marco Polo Travel Offer</title>

    <link rel="stylesheet" href="{% static 'webpage/dependencies/css/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{% static 'webpage/dependencies/css/bootstrap.min.css'%}">

    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'webpage/css/style_base.css' %}">

</head>
<body>
    {% block nav %}
    <!-- Nav - start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'webpage:home' %}"><img src="{% static 'webpage/images/logo/logo-przezr-tlo.png' %}" alt="Marco Polo"></a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    {% block link_management %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tour:add_tour' %}">wyjazdy</a>
                    </li>
                    {% endblock link_management %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'offer:tour_manager' %}">manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff:logout' %}">wyloguj</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav - stop -->
    {% endblock nav %}

    {% block content %}
    {% endblock content %}

    <script src="{% static 'webpage/dependencies/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'webpage/dependencies/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'webpage/dependencies/js/popper.min.js'%}"></script>
    <script src="{% static 'webpage/dependencies/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'webpage/js/common.js' %}"></script>
    <script src="{% static 'webpage/js/app_offer.js' %}"></script>
</body>
</html>