{% extends './_base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<section id="tour">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">{{ tour.offer.title }}</h2>
                    <p>termin: {{ tour.date }}</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="add_participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">Dodaj uczestnika</h2>
                    <form action="" method="post" data-url="{% url 'tour:fill_participant' %}" id="participant_form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="dodaj" class="btn btn-danger">
                    </form>
                    {% if err_msg %}
                    <p>{{ err_msg }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}