{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block link_management %}

{% endblock link_management %}

{% block content %}

<section id="tour">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">{{ tour }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="add_participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">Dodaj uczestnika</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="add" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="participants" class="list-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                {% if participants %}
                <table class="table">
                    <tr>
                        <th>uczestnik</th>
                        <th></th>
                    </tr>
                    {% for participant in participants %}
                    <tr id="table-{{ tour.pk }}" class="closestElement">
                        <td><strong>{{ participant }}</strong></td>
                        <td><a href=""><i class="fas fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Brak uczestników do wyświetlenia</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}