{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block link_management %}

{% endblock link_management %}

{% block content %}

<section id="tour">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h1 class="page-header">{{ tour.offer.title }}</h1>
                    <p>termin: {{ tour.start_date|date:'d.m.' }}-{{ tour.end_date|date:'d.m.' }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="participants" class="list-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                {% if participants %}
                <table class="table">
                    <tr>
                        <th>uczestnik</th>
                        <th>telefon</th>
                        <th>status</th>
                        <th></th>
                    </tr>
                    {% for participant in participants %}
                    <tr id="table-{{ participant.participant.pk }}" class="closestElement">
                        <td><strong>{{ participant.participant.name }}</strong></td>
                        <td><strong>{{ participant.participant.phone }}</strong></td>
                        <td>
                            <select name="status" id="" class="custom-select" data-url="{% url 'tour:change_status' participant.pk %}">
                                {% for status in statuses %}
                                    {% if status.0 == participant.status %}
                                <option value="{{ status.0 }}" selected>{{ status.1 }}</option>
                                    {% else %}
                                <option value="{{ status.0 }}">{{ status.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td><a href="{% url 'tour:edit_participant' tour.pk participant.participant.pk %}"><i class="fas fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Brak uczestników do wyświetlenia</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section id="add_participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">Dodaj uczestnika</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="add" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}