{% extends './_base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<section id="participant" class="show-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">{{ participant.name }}</h2>
                    <p>data urodzenia: {{ participant.date_of_birth }}</p>
                    <p>telefon: {{ participant.new_phone }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="edit_participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div>
                    <h2 class="page-header">Edytuj uczestnika</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="submit" value="edytuj" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="delete_participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <a class="go-to-page" href="{% url 'tour:delete_item' model tour_participant.pk %}">Usuń uczestnika >> </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}