{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'tour_operator_app/css/style.css' %}">
    

</head>

<body>
    {% block nav %}
    <!-- Nav - start -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'tour_operator_app/images/logo-przezr-tlo.png' %}" alt="Marco Polo"></a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto justify-content-center">
                    <!-- Offer as dropdown menu - start -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">oferta</a>
    
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">pielgrzymki</a>
                            <a class="dropdown-item" href="#">dla firm</a>
                            <a class="dropdown-item" href="#">wakacje</a>
                            <a class="dropdown-item" href="#">dla szkół</a>
                            <a class="dropdown-item" href="#">aktualności</a>
                            <a class="dropdown-item" href="#">polecamy</a>
                        </div>
                    </li>
                    <!-- Offer as dropdown menu - stop -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">o nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">blog</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <div>tel: <strong>606-723-829</strong> lub <strong>508-195-683</strong></div>
                    <div>email: <strong><a href="mailto:biuro@marcopolo.rzeszow.pl">biuro@marcopolo.rzeszow.pl</a></strong></div> 
                </span>
            </div>
        </div>
    </nav>
    <!-- Nav - stop -->
    {% endblock nav %}
    {% block content %}
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'tour_operator_app/js/app.js' %}"></script>
</body>

</html>