{% extends './_base.html' %}

{% block content %}
<!-- Header - start -->
<header id="header">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div id="offer-img-1" class="col-lg-4 col-md-6 offer-img">
                <a href="">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">oferta dla szkół</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-2" class="col-lg-4 col-md-6 offer-img">
                <a href="">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">oferta dla firm</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-3" class="col-lg-4 col-md-6 offer-img">
                <a href="">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">wakacje</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-4" class="col-lg-4 col-md-6 offer-img">
                <a href="">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">pielgrzymki</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-5" class="col-lg-4 col-md-6 offer-img">
                <a href="">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">aktualności</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-6" class="col-lg-4 col-md-6 offer-img">
                <a href="">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">polecamy</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Header - stop -->
<!-- About - start -->
<section id="about">
    <div class="container">
        <h1>Marco Polo Travel</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum amet, voluptates officiis quis incidunt impedit voluptatum! Fugit, quidem culpa nobis atque eaque laudantium tenetur praesentium, neque dolor, aspernatur deserunt accusamus. Illum amet, voluptates officiis quis incidunt impedit voluptatum! Fugit, quidem culpa nobis atque eaque laudantium tenetur praesentium, neque dolor, aspernatur deserunt accusamus. Illum amet, voluptates officiis quis incidunt impedit voluptatum! Fugit, quidem culpa nobis atque eaque laudantium tenetur praesentium, neque dolor, aspernatur deserunt accusamus</p>
    </div>    
</section>
<!-- About - stop -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h6>Marco Polo Travel</h6>
                <p>Skontaktuj się z nami przez telefon lub e-mail <br>i pozwól nam zaplanować Twoją podróż.</p>
                <p>tel: 606-723-829 lub 508-195-683</p>
                <p>email: <strong><a href="mailto:biuro@marcopolo.rzeszow.pl">biuro@marcopolo.rzeszow.pl</a></strong></p>
            </div>
            <div class="col-lg-2 col-md-4">
                <h6>Oferta</h6>
                <ul>
                    <li><a href="">Oferta dla szkół</a></li>
                    <li><a href="">Oferta dla firm</a></li>
                    <li><a href="">Wakacje</a></li>
                    <li><a href="">Pielgrzymki</a></li>
                    <li><a href="">Aktualności</a></li>
                    <li><a href="">Polecamy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4">
                <h6>Blog</h6>
            </div>
            <div class="col-lg-2 col-md-4">
                <h6>Siedziba firmy</h6>
                <p>Słoneczny Stok 91 <br>
                    35-213 Rzeszów </p>
            </div>
        </div>
    </div>
</footer>
<section id="copyright">
    <p>Copyright: Marco Polo Travel 2018</p>
</section>

{% endblock content %}