body {
  font-family: 'Rajdhani', sans-serif; }

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  margin-bottom: .5rem;
  line-height: 1.2; }

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  color: #212529;
  margin-bottom: .5rem;
  line-height: 1.5; }

a {
  color: black; }
  a:hover {
    color: #B91B22;
    font-weight: 600;
    text-decoration: none; }

strong {
  font-weight: 600; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

input[type="text"].ui-widget,
input[type="number"].ui-widget,
.ui-menu-item-wrapper {
  font-family: 'Rajdhani', sans-serif !important; }

.test {
  color: black; }

.navbar {
  padding-top: 2vh;
  padding-bottom: 2vh; }

nav {
  background-color: #fff;
  box-shadow: 3px 3px #F7F5F5; }
  nav img {
    width: 200px;
    height: auto; }
  nav a {
    color: black; }
    nav a:hover {
      color: #B91B22;
      font-weight: 600;
      text-decoration: none; }

@media (min-width: 992px) {
  nav .navbar-nav {
    float: right;
    margin-right: 0;
    margin-left: auto;
    text-align: center; }
    nav .navbar-nav .nav-item {
      padding: 0px 15px; } }

.offer-details {
  cursor: pointer; }

.new-row {
  background-color: #F7F5F5; }

section {
  padding-top: 3vh;
  padding-bottom: 3vh; }
  section:nth-of-type(odd) {
    background-color: #F7F5F5; }

#list_offer .table {
  margin-bottom: 70px; }
  #list_offer .table td:last-child {
    width: 50px; }
  #list_offer .table td:nth-child(2) {
    width: 50px; }

.list-elements .offer-details, .list-elements a {
  color: black; }
  .list-elements .offer-details:hover, .list-elements a:hover {
    color: #B91B22;
    font-weight: 600;
    text-decoration: none; }

.list-elements td:nth-of-type(3) {
  text-align: right; }

.list-elements td:last-of-type {
  text-align: right; }

.list-elements td:first-of-type {
  text-align: left; }

.select-offer h2 {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  margin-bottom: 3vh; }

.select-offer .select-container {
  width: 100%;
  height: 150px;
  background-color: #fff;
  border: solid lightgrey 1px;
  position: relative; }
  .select-offer .select-container:first-child {
    margin-bottom: 3vh; }
  .select-offer .select-container:hover {
    box-shadow: 3px 3px 5px 1px rgba(165, 164, 164, 0.3); }
  .select-offer .select-container p {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000; }
    .select-offer .select-container p strong {
      color: #B91B22; }

.select-offer .list-row {
  width: 100%;
  padding: 0 15px; }

.select-offer ul {
  list-style: none;
  padding-left: 0;
  text-align: center; }

#manager-intro {
  background-color: #F7F5F5;
  padding-top: 2vw;
  padding-bottom: 2vw; }
  #manager-intro .manager {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #fff;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: inline-block; }
    #manager-intro .manager h5 {
      text-align: center;
      color: grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #manager-intro .manager:hover {
      box-shadow: 3px 3px 5px 1px rgba(165, 164, 164, 0.3); }
      #manager-intro .manager:hover h5 {
        color: #B91B22; }

select.custom-select {
  border: none;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  width: auto;
  height: auto;
  vertical-align: none; }
  select.custom-select:focus {
    border-color: none;
    box-shadow: none; }

#participants td:nth-of-type(3) {
  text-align: left; }

#link-with-redirect {
  color: #fff;
  font-weight: 600; }
  #link-with-redirect:hover {
    color: #fff; }
