body {
  font-family: 'Rajdhani', sans-serif; }

strong {
  font-weight: 600;
  color: grey; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.navbar {
  padding-top: 2vh;
  padding-bottom: 2vh; }

nav {
  background-color: #fff;
  box-shadow: 3px 3px #F7F5F5; }
  nav img {
    width: 200px;
    height: auto; }
  nav a {
    color: black; }
    nav a:hover {
      color: #B91B22;
      font-weight: 600;
      text-decoration: none; }

@media (min-width: 992px) {
  nav .navbar-nav {
    float: right;
    margin-right: 0;
    margin-left: auto;
    text-align: center; }
    nav .navbar-nav .nav-item {
      padding: 0px 15px; } }
