{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Marco Polo Travel{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'webpage/dependencies/css/jquery-ui.min.css'%}">
    <link rel="stylesheet" href="{% static 'webpage/dependencies/css/bootstrap.min.css'%}">

    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'webpage/css/style_base.css' %}">

</head>

<body>
    {% block nav %}
    <!-- Nav - start -->

    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <a class="navbar-brand" href="{% block brand %}#{% endblock brand %}"><img src="{% static 'webpage/images/logo-przezr-tlo.png' %}" alt="Marco Polo"></a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto justify-content-center">
                    <!-- Offer as dropdown menu - start -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">oferta</a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% block link_for_school %}<a class="dropdown-item" href="{% url 'webpage:for_school' %}">dla szkół</a>{% endblock link_for_school %}
                            {% block link_for_work %}<a class="dropdown-item" href="{% url 'webpage:for_work' %}">dla firm</a>{% endblock link_for_work %}
                            {% block link_holiday %}<a class="dropdown-item" href="{% url 'webpage:holiday' %}">wakacje</a>{% endblock link_holiday %}
                            {% block link_pilgrimage %}<a class="dropdown-item" href="{% url 'webpage:pilgrimage' %}">pielgrzymki</a>{% endblock link_pilgrimage %}
                            {% block link_news %}<a class="dropdown-item" href="{% url 'webpage:news' %}">aktualności</a>{% endblock link_news %}
                            {% block link_recommend %}<a class="dropdown-item" href="{% url 'webpage:recommended' %}">polecamy</a>{% endblock link_recommend %}
                        </div>
                    </li>
                    <!-- Offer as dropdown menu - stop -->
                    {% block about_link %}
                    <li class="nav-item">
                        <a class="nav-link" href="#about">o nas</a>
                    </li>
                    {% endblock about_link %}
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">kontakt</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="post">
                    {% csrf_token %}
                  <input class="form-control ui-widget" type="search" placeholder="kierunek" aria-label="Search" name="search" data-url="{% url 'webpage:get_directions' %}" >
                  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <span class="navbar-text">
                    <div>tel: <strong>606-723-829</strong> lub <strong>508-195-683</strong></div>
                    <div>email: <strong><a href="mailto:biuro@marcopolo.rzeszow.pl">biuro@marcopolo.rzeszow.pl</a></strong></div>
                </span>

            </div>
        </div>
    </nav>
    <!-- Nav - stop -->
    {% endblock nav %}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer id=contact>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-5 col-sm-12">
                    <h6>Marco Polo Travel</h6>
                    <p>Skontaktuj się z nami przez telefon lub e-mail <span class="/man"></span>i pozwól nam zaplanować Twoją podróż.</p>
                    <p>tel: 606-723-829 lub 508-195-683</p>
                    <p>email: <strong><a href="mailto:biuro@marcopolo.rzeszow.pl">biuro@marcopolo.rzeszow.pl</a></strong></p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Oferta</h6>
                    <ul>
                        <li><a href="{% url 'webpage:for_school' %}">Oferta dla szkół</a></li>
                        <li><a href="{% url 'webpage:for_work' %}">Oferta dla firm</a></li>
                        <li><a href="{% url 'webpage:holiday' %}">Wakacje</a></li>
                        <li><a href="{% url 'webpage:pilgrimage' %}">Pielgrzymki</a></li>
                        <li><a href="{% url 'webpage:news' %}">Aktualności</a></li>
                        <li><a href="{% url 'webpage:recommended' %}">Polecamy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <h6>Siedziba firmy</h6>
                    <p>Słoneczny Stok 91 <br>
                        35-213 Rzeszów </p>
                    <h6>Dokumenty do pobrania</h6>
                    <a target="__blank" href="{% static 'webpage/pdfs/somefilename.pdf' %}">Umowa zgłoszenie</a></br>
                    <a target="__blank" href="{% static 'webpage/pdfs/tour_participants.pdf' %}">Ogólne warunki uczestnictwa</a>
                </div>
            </div>
        </div>
    </footer>
    <section id="copyright">
        <p>Copyright: <span>Marco Polo Travel 2018</span></p>
    </section>

    {% endblock footer %}
    <script src="{% static 'webpage/dependencies/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'webpage/dependencies/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'webpage/dependencies/js/popper.min.js'%}"></script>
    <script src="{% static 'webpage/dependencies/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'webpage/js/common.js' %}"></script>
    <script src="{% static 'webpage/js/app.js' %}"></script>

</body>

</html>