{% extends './_base.html' %}
{% load static %}

{% block styles_css %}
<link rel="stylesheet" href="{% static 'webpage/css/style_for_school.css' %}">
{% endblock styles_css %}

{% block about_link %}
{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_for_school">
    <div class="container-fluid">
        <div id="header_for_school_img"></div>
        <h1>Oferta dla szkół</h1>
    </div>
</header>
<!-- Header - stop -->
<!-- Selected - start -->
<section id="selected_for_school" class="selection">
    <div class="container">
        <div class="row no-gutters">
            <div id="selected_for_school_img1" class="col-md-6 selected-item selected_img"></div>
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    <h2>{{ for_school_selected.0.title }}</h2>
                    <p>{{ for_school_selected.0.short_descr}}</p>
                    <p>{{ for_school_selected.0.duration_in_days }}{% if for_school_selected.0.duration_in_days == 1 %} dzień {% else %} dni {% endif %}</p>
                    <p data-url="{% url 'offer:show_offer' for_school_selected.0.pk %}" class="offer-details">pokaż szczegóły</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    <h2>{{ for_school_selected.1.title }}</h2>
                     <p>{{ for_school_selected.1.short_descr}}</p>
                    <p>{{ for_school_selected.1.duration_in_days }}{% if for_school_selected.1.duration_in_days == 1 %} dzień {% else %} dni {% endif %}</p>
                    <p data-url="{% url 'offer:show_offer' for_school_selected.1.pk %}" class="offer-details">pokaż szczegóły</p>
                </div>
            </div>
            <div id="selected_for_school_img2" class="col-md-6 selected-item selected_img"></div>
        </div>
        <div class="row no-gutters">
            <div id="selected_for_school_img3" class="col-md-6 selected-item selected_img"></div>
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    <h2>{{ for_school_selected.2.title }}</h2>
                     <p>{{ for_school_selected.2.short_descr}}</p>
                    <p>{{ for_school_selected.2.duration_in_days }}{% if for_school_selected.2.duration_in_days == 1 %} dzień {% else %} dni {% endif %}</p>
                    <p data-url="{% url 'offer:show_offer' for_school_selected.0.pk %}" class="offer-details">pokaż szczegóły</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Selected - stop-->
<!-- Offer for school - start -->
<section id="offer_for_school">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">

                <table class="table">
                    <tr>
                        <th>Kierunek</th>
                        <th>Czas trwania</th>
                        <th></th>
                    </tr>
                    {% for offer in for_school %}
                    <tr>
                        <td><strong>{{ offer.title }}</strong></td>
                        <td>{{ offer.duration_in_days }} {% if offer.duration_in_days == 1 %} dzień {% else %} dni {% endif %}</td>
                        <td data-url="{% url 'offer:show_offer' offer.pk %}" class="offer-details">pokaż szczegóły</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Offer for school - stop -->

{% endblock content %}