{% extends './_base.html' %}
{% load static %}


{% block title %} Marco Polo Travel
    {% if category == 'pilgrimage' %}
        Pielgrzymki
    {% elif category == 'for_school' %}
        Oferta dla szkół
    {% else %}
        Oferta dla firm
    {% endif %}
{% endblock title %}

{% block descr-content %}
    {% if category == 'pilgrimage' %}
        Organizator imprez turystycznych obejmujących m.in. pielgrzymki do miejsc świetych: sanktuaria adriatyckie, greckie, rumuńskie, bułgarskie, austriackie, węgierskie, chorwackie, bośniackie. Włochy. Trasa św. Franciszka, Trasa św. Benedykta, Trasa Stygmatyków, Trasa świętych z Sycylii, Austria, Węgry: sanktuaria I Opactwa
    {% elif category == 'for_school' %}
        Organizator imprez turystycznych obejmujących m.in. Kraków, Warszawę, Lublin, Pieniny, Gorce, Słowację: Małą Fatrę, Zamek Orawski z basenami termalnymi, Litwę: Wileńszczyznę i Auksztotę.
    {% else %}
        Organizator imprez turystycznych obejmujących wyjazdy firmowe m.in do Danii, Szwecji, Finlandii z Litwą, Łotwą i Estonią, Wielkiej Brytanii, Włoch, Serbii, Macedonii, Rumunii, Bułgarii, Bośnii i Hercegowiny, Chorwacji, Słowenii.
    {% endif %}
{% endblock descr-content %}


{% block brand %}{% url 'webpage:home' %}{% endblock brand %}


{% block about_link %}{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_{{ category }}" class="header_container">
    <div class="container-fluid">
        <div id="header_{{ category }}_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->

<!-- Selected - start -->
<section id="title_{{ category }}" class="offer_title">
    <h1>
        {% if category == 'pilgrimage' %}
            Pielgrzymki
        {% elif category == 'for_school' %}
            Oferta dla szkół
        {% else %}
            Oferta dla firm
        {% endif %}

    </h1>

    <a class="btn btn-primary" href="#selected_offer">Oferta</a>
</section>

<section id="selected_offer" class="selection">
    <div class="container">
        <div id="section-{{offer_selected.0.pk}}" class="row no-gutters selection-row closestElement ">
            <div id="selected_{{ category }}_img0" class="col-md-6 selected-item selected_img">
                <img src="{{ offer_selected.0.image.url }}" alt="{{ offer_selected.0.title }}">
            </div>
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    {% if offer_selected.0 %}
                    <h2>{{ offer_selected.0.title }}
                        <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer_selected.0.pk %}" title="pokaż szczegóły"></i>
                    </h2>
                    <p>{{ offer_selected.0.short_descr }}</p>
                    <p>{{ offer_selected.0.duration_in_days }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="section-{{ offer_selected.1.pk }}" class="row no-gutters selection-row closestElement ">
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    {% if offer_selected.1 %}
                    <h2>{{ offer_selected.1.title }}
                        <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer_selected.1.pk %}" title="pokaż szczegóły"></i>
                    </h2>
                    <p>{{ offer_selected.1.short_descr }}</p>
                    <p>{{ offer_selected.1.duration_in_days }}</p>
                    {% endif %}
                </div>
            </div>
            <div id="selected_{{ category }}_img1" class="col-md-6 selected-item selected_img ">
                <img src="{{ offer_selected.1.image.url }}" alt="{{ offer_selected.1.title }}">
            </div>
        </div>
    </div>
</section>
<!-- Selected - stop-->


<!-- Full offer - start -->
<section id="show-full-offer" class="row no-gutters full-offer {{ category }}">
    <div class="container">
        <a class="btn btn-primary" href="#all_offer"> Pełna oferta</a>
    </div>
</section>
<!-- Full offer - stop -->


<!-- Offer - start -->
{% if offer_all %}
<section id="all_offer" class="selection selection-offer">
    <div class="container">
            {% for offer in offer_all %}
                {% if offer.0 %}
                    <div id="offer-{{ offer.0.pk }}" class="row no-gutters selection-row closestElement">
                        <div id="offer_img{{ offer.0.pk }}" class="col-md-6 selected-item selected_img">
                            <img src="{{offer.0.image.url}}" alt="{{ offer.0.title }}">
                        </div>
                        <div class="col-md-6 selected-item selected_data">
                            <div class="selected_wrapper">

                                <h2>{{ offer.0.title }}
                                    <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer.0.pk %}" title="pokaż szczegóły"></i>
                                </h2>
                                <p>{{ offer.0.short_descr }}</p>
                                <p>{{ offer.0.duration_in_days }}</p>

                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if offer.1 %}
                    <div id="offer-{{ offer.1.pk }}" class="row no-gutters selection-row closestElement">

                        <div class="col-md-6 selected-item selected_data">
                            <div class="selected_wrapper">

                                <h2>{{ offer.1.title }}
                                    <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer.1.pk %}" title="pokaż szczegóły"></i>
                                </h2>
                                <p>{{ offer.1.short_descr }}</p>
                                <p>{{ offer.1.duration_in_days }}</p>

                            </div>
                        </div>
                        <div id="offer_img{{ offer.1.pk }}" class="col-md-6 selected-item selected_img">
                            <img src="{{offer.1.image.url}}" alt="{{ offer.1.title }}">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
</section>
{% endif %}
<!-- Offer - stop -->



<section id="social-media" class="row no-gutters full-offer {{ category }} ">
    <div class="container">
        <a href="#"> <i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
    </div>
</section>

{% endblock content %}