{% extends './_base.html' %}
{% load static %}


{% block title %} Blog Marco Polo Travel {% endblock title %}


{% block brand %}{% url 'webpage:home' %}{% endblock brand %}
{% block link_news %}{% endblock link_news %}
{% block about_link %}{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_news" class="header_container scroll">
    <div class="container-fluid">
        <div id="header_news_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->
<!-- Title - start -->
<section id="title_news" class="offer_title">
    <h1>
        Blog podróżniczy
    </h1>
    <a class="btn btn-primary" href="#news">Wpisy</a>
</section>
<!-- Title - stop -->
<!-- Blog - start -->
<section id="news">

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <aside class="sticky-top">
                    <ul>
                        {% for news in news_list %}
                        <li><a href="{{ request.path }}?page={{ forloop.counter }}{% if forloop.counter == news_result.number %}/#news-{{news.0.pk}}{% endif %}">{{ news.0.entry_date|date:"d"  }}.{{ news.0.entry_date|date:"m" }}. {{ news.0.title}} </a></li>
                            {% if news.1 %}
                            <li><a href="{{ request.path }}?page={{ forloop.counter }}{% if forloop.counter == news_result.number %}/#news-{{news.1.pk}}{% endif %}">{{ news.1.entry_date|date:"d"  }}.{{ news.1.entry_date|date:"m" }}. {{ news.1.title}} </a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </aside>
            </div>
            <div class="col-sm-9 col-md-8 offset-md-1">
                {% for news in news_result %}
                    <div id="news-{{news.pk}}" class="row blog-img">
                        <img src="{{ news.image.url }}" alt="{{ news.title }}">
                    </div>
                    <div class="row blog-content">
                        <div class="news_date ">
                            <div class="news_date_container"><div class="news_day">{{ news.entry_date|date:"d"  }}.</div></div>
                            <div class="news_date_container"><div class="news_month">{{ news.entry_date|date:"m" }}.</div></div>
                        </div>
                        <h2>{{ news.title }}</h2>
                        <div class="news_entry ">
                            <p>{{ news.entry|safe|linebreaks }}</p>
                        </div>
                    </div>
                {% endfor %}

                {% if news_result.paginator.num_pages > 1 %}
                <div class="pagination">
                    <span class="step-links">
                        {% if news_result.has_previous %}
                            <a href="?page={{ news_result.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
                        {% endif %}

                        <span class="current">
                            <span class="current-number">{{ news_result.number }}</span> z {{ news_result.paginator.num_pages }}
                        </span>

                        {% if news_result.has_next %}
                            <a href="?page={{ news_result.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</section>
<!-- Blog - stop -->
<!--Social media - start-->
<section id="social-media" class="row no-gutters full-offer news ">
    <div class="container">
        <a href="#"> <i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
    </div>
</section>
<!--Social media - stop-->
{% endblock content %}