{% extends './_base.html' %}
{% load static %}


{% block brand %}{% url 'webpage:home' %}{% endblock brand %}


{% block about_link %}{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_{{ category }}" class="header_container">
    <div class="container-fluid">
        <div id="header_{{ category }}_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->

<!-- Selected - start -->
<section id="title_{{ category }}" class="offer_title">
    <h1>
        {% if category == 'pilgrimage' %}
            Pielgrzymki
        {% elif category == 'for_school' %}
            Oferta dla szkół
        {% else %}
            Oferta dla firm
        {% endif %}

    </h1>

    <a class="btn btn-primary" href="#selected_offer">Oferta</a>
</section>

<section id="selected_offer" class="selection">
    <div class="container">
        <div id="section-{{offer_selected.0.pk}}" class="row no-gutters selection-row closestElement ">
            <div id="selected_{{ category }}_img0" class="col-md-6 selected-item selected_img">
                <img src="{{ offer_selected.0.image.url }}" alt="">
            </div>
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    {% if offer_selected.0 %}
                    <h2>{{ offer_selected.0.title }}
                        <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer_selected.0.pk %}" title="pokaż szczegóły"></i>
                    </h2>
                    <p>{{ offer_selected.0.short_descr }}</p>
                    <p>Czas trwania: {{ offer_selected.0.duration_in_days }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="section-{{ offer_selected.1.pk }}" class="row no-gutters selection-row closestElement ">
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">
                    {% if offer_selected.1 %}
                    <h2>{{ offer_selected.1.title }}
                        <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer_selected.1.pk %}" title="pokaż szczegóły"></i>
                    </h2>
                    <p>{{ offer_selected.1.short_descr }}</p>
                    <p>Czas trwania: {{ offer_selected.1.duration_in_days }}</p>
                    {% endif %}
                </div>
            </div>
            <div id="selected_{{ category }}_img1" class="col-md-6 selected-item selected_img ">
                <img src="{{ offer_selected.1.image.url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Selected - stop-->


<!-- Full offer - start -->
<section id="show-full-offer" class="row no-gutters full-offer {{ category }}">
    <div class="container">
        <a class="btn btn-primary" href="#all_offer"> Pełna oferta</a>
    </div>
</section>
<!-- Full offer - stop -->


<!-- Offer - start -->
{% if offer_all %}
<section id="all_offer" class="selection selection-offer">
    <div class="container">
            {% for offer in offer_all %}
                {% if offer.0 %}
                    <div id="offer-{{ offer.0.pk }}" class="row no-gutters selection-row closestElement">
                        <div id="offer_img{{ offer.0.pk }}" class="col-md-6 selected-item selected_img">
                            <img src="{{offer.0.image.url}}" alt="">
                        </div>
                        <div class="col-md-6 selected-item selected_data">
                            <div class="selected_wrapper">

                                <h2>{{ offer.0.title }}
                                    <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer.0.pk %}" title="pokaż szczegóły"></i>
                                </h2>
                                <p>{{ offer.0.short_descr }}</p>
                                <p>Czas trwania: {{ offer.0.duration_in_days }}</p>

                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if offer.1 %}
                    <div id="offer-{{ offer.1.pk }}" class="row no-gutters selection-row closestElement">

                        <div class="col-md-6 selected-item selected_data">
                            <div class="selected_wrapper">

                                <h2>{{ offer.1.title }}
                                    <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer.1.pk %}" title="pokaż szczegóły"></i>
                                </h2>
                                <p>{{ offer.1.short_descr }}</p>
                                <p>Czas trwania: {{ offer.1.duration_in_days }}</p>

                            </div>
                        </div>
                        <div id="offer_img{{ offer.1.pk }}" class="col-md-6 selected-item selected_img">
                            <img src="{{offer.1.image.url}}" alt="">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
</section>
{% endif %}
<!-- Offer - stop -->



<section id="show-contact" class="row no-gutters full-offer {{ category }} ">
    <div class="container">
        <a class="btn btn-primary" href="#contact"> Kontakt</a>
    </div>
</section>

{% endblock content %}