{% extends './_base.html' %}
{% load static %}


{% block brand %}{% url 'webpage:home' %}{% endblock brand %}
{% block link_holiday %}{% endblock link_holiday %}
{% block about_link %}{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_holiday" class="header_container scroll">
    <div class="container-fluid">
        <div id="header_holiday_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->
<section id="title_holiday" class="offer_title">
    <h1>
        Wakacje
    </h1>

    <a class="btn btn-primary" href="#holiday">Oferta</a>
</section>

<!-- Selected - start -->
<section id="holiday">
    <div class="container">
        {% for offer in offer_all %}
        <div class="row  no-gutters ">

            <div class="col-lg-3">
                <h2 class="holiday-info">{{ offer.title }}</h2>
                <p class="holiday-info places"><strong>{{ offer.places }}</strong></p>
                <p class="holiday-info"><strong>{{ offer.duration_in_days }}</strong></p>

            </div>
            <div class="col-lg-9">
                <img src="{{ offer.image.url }}" alt="{{ offer.title }}">
            </div>
            <div id="{{offer.pk}}" class="col-md-12 holiday-info">
                <div >{{ offer.descr }}</div>
                <div class="holiday-details">
                    <a class="btn btn-primary" href="#holiday-schedule-{{ offer.pk }}">Szczegóły</a>
                </div>
                <div id="holiday-schedule-{{ offer.pk }}" data-loaded="false" class="holiday-schedule">{{ offer.schedule | safe | linebreaks }}</div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}