{% extends './_base.html' %}
{% load static %}
{% block title %}Marco Polo Travel {{category}} {% endblock title %}
<meta name="description" content="{% block descr-content %}Organizator imprez turystycznych , m.in do {{category}}, obejmujących integracyjne wyjazdy zakładowe, wycieczki pracownicze, wycieczki szkolne, pielgrzymki do miejsc świętych, wczasy jak również wyjazdy indywidualne.{% endblock descr-content %}">

{% block brand %}{% url 'webpage:home' %}{% endblock brand %}
{% block about_link %}{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_search" class="header_container scroll">
    <div class="container-fluid">
        <div id="header_search_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->

<section id="title_search" class="offer_title">
    <h1>
        {{category}}
    </h1>

    <a class="btn btn-primary" href="#all_offer">Oferta</a>
</section>

<!-- Offer - start -->
{% if offer_all or holiday_all %}
<section id="all_offer" class="selection selection-offer search">
    <div class="container">
        {% if offer_all %}
            {% for offer in offer_all %}
                {% if offer.0 %}
                    <div id="offer-{{ offer.0.pk }}" class="row no-gutters selection-row closestElement">
                        <div id="offer_img{{ offer.0.pk }}" class="col-md-6 selected-item selected_img">
                            <img src="{{offer.0.image.url}}" alt="">
                        </div>
                        <div class="col-md-6 selected-item selected_data">
                            <div class="selected_wrapper">

                                <h2>{{ offer.0.title }}
<!--
                                    <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer.0.pk %}" title="pokaż szczegóły"></i>
-->
                                </h2>
                                <p>{{ offer.0.short_descr }}</p>
                                <p>{{ offer.0.duration_in_days }}
                                    <span class="closed offer-details" data-url="{% url 'offer:show_offer' offer.0.pk %}" title="pokaż szczegóły">szczegóły
                                        <i class="fas fa-caret-down"></i>
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if offer.1 %}
                    <div id="offer-{{ offer.1.pk }}" class="row no-gutters selection-row closestElement">

                        <div class="col-md-6 selected-item selected_data">
                            <div class="selected_wrapper">

                                <h2>{{ offer.1.title }}
<!--
                                    <i class="fas fa-eye offer-details" data-url="{% url 'offer:show_offer' offer.1.pk %}" title="pokaż szczegóły"></i>
-->
                                </h2>
                                <p>{{ offer.1.short_descr }}</p>
                                <p>{{ offer.1.duration_in_days }}
                                    <span class="closed offer-details" data-url="{% url 'offer:show_offer' offer.1.pk %}" title="pokaż szczegóły">szczegóły
                                        <i class="fas fa-caret-down"></i>
                                    </span>

                                </p>

                            </div>
                        </div>
                        <div id="offer_img{{ offer.1.pk }}" class="col-md-6 selected-item selected_img">
                            <img src="{{offer.1.image.url}}" alt="">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endif %}
<!-- Offer - stop -->

<section id="social-media" class="row no-gutters full-offer search ">
    <div class="container">
        <a href="#"> <i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
    </div>
</section>
{% endblock content %}