{% extends './_base.html' %}
{% load static %}

{% block title %} Marco Polo Travel Oferta wakacyjna {% endblock title %}
{% block descr-content %} Organizator imprez turystycznych obejmujących m.in. wczasy w Grecji: Peloponez ze zwiedzaniem Macedonii, oraz we Włoszech: Kalabria ze zwiedzaniem Bazylikaty i Apulii, Sycylia.{% endblock descr-content %}
{% block brand %}{% url 'webpage:home' %}{% endblock brand %}
{% block link_holiday %}{% endblock link_holiday %}
{% block about_link %}{% endblock about_link %}

{% block content %}
<!-- Header - start -->
<header id="header_holiday" class="header_container scroll">
    <div class="container-fluid">
        <div id="header_holiday_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->
<section id="title_holiday" class="offer_title scroll">
    <h1>
        Wakacje
    </h1>

    <a class="btn btn-primary" href="#holiday">Oferta</a>
</section>

<!-- Selected - start -->
<section id="holiday">
    <div class="container">
        {% for offer in offer_all %}
        <div class="row  no-gutters scroll">

            <div class="col-lg-3">
                <h2 class="holiday-info">{{ offer.title }}</h2>
                {% for tour in offer.holiday_tours %}
                    <p class="holiday-info holiday-dates">
                    {% for k, v in tour.items %}
                        {% if k == "dates" %}
                            <strong>{{ v }}</strong>
                        {% endif %}
                        {% if k == "open" and v %}
                            <strong class="open-offer">Oferta otwarta</strong>
                        {% endif %}
                    {% endfor %}
                        </p>
                {% endfor %}

                <p class="holiday-info places"><strong>{{ offer.places }}</strong></p>

            </div>
            <div class="col-lg-9">
                <img src="{{ offer.image.url }}" alt="{{ offer.title }}">
            </div>
            <div id="{{offer.pk}}" class="col-md-12 holiday-info">

                <p class="holiday-info holiday-duration"><strong>{{ offer.duration_in_days }}</strong></p>
                <div >{{ offer.descr }}</div>
                <div class="holiday-details">
                    <a class="btn btn-primary" href="#holiday-schedule-{{ offer.pk }}">Szczegóły</a>
                </div>
                <div id="holiday-schedule-{{ offer.pk }}" data-loaded="false" class="holiday-schedule">{{ offer.schedule | safe | linebreaks }}</div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

<section id="social-media" class="row no-gutters full-offer holiday">
    <div class="container">
        <a href="#"> <i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
    </div>
</section>

{% endblock content %}