{% extends './_base.html' %}
{% load static %}

{% block content %}
<!-- Header - start -->
<header id="header">
    <div class="container-fluid">
        <div class="row no-gutters scroll">
            <div id="offer-img-1" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:for_school' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">oferta dla szkół</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-2" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:for_work' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">oferta dla firm</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-3" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:holiday' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">wakacje</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-4" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:pilgrimage' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">pielgrzymki</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-5" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:news' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">aktualności</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-6" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:recommended' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">polecamy</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Header - stop -->
<!-- About - start -->
<section id="about" class="scroll">
    <div class="container">
        <h1>O nas</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum amet, voluptates officiis quis incidunt impedit voluptatum! Fugit, quidem culpa nobis atque eaque laudantium tenetur praesentium, neque dolor, aspernatur deserunt accusamus. Illum amet, voluptates officiis quis incidunt impedit voluptatum! Fugit, quidem culpa nobis atque eaque laudantium tenetur praesentium, neque dolor, aspernatur deserunt accusamus. Illum amet, voluptates officiis quis incidunt impedit voluptatum! Fugit, quidem culpa nobis atque eaque laudantium tenetur praesentium, neque dolor, aspernatur deserunt accusamus</p>
    </div>    
</section>
<!-- About - stop -->
<!-- About - stop -->
<section id="img-section" class="scroll">
    <div class="container" id="banner">
        <div class="row banner-section">
            <div class="col-md-5 first-banner"></div>
            <div class="col-md-3 second-banner">
                <p class="white">DISCOVER</p>
                <p class="red">DREAM</p>
                <p >EXPLORE</p>
            </div>
            <div class="col-md-4 third-banner"></div>
        </div>
    </div>
</section>
<!-- About - stop -->
{% endblock content %}