{% extends './_base.html' %}
{% load static %}

{% block content %}
<!-- Header - start -->
<header id="header">
    <div class="container-fluid">
        <div class="row no-gutters scroll">
            <div id="offer-img-1" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:for_school' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">oferta dla szkół</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-2" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:for_work' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">oferta dla firm</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-3" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:holiday' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">wakacje</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-4" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:pilgrimage' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">pielgrzymki</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-5" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:recommended' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">polecamy</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div id="offer-img-6" class="col-lg-4 col-md-6 offer-img">
                <a href="{% url 'webpage:news' %}">
                    <div class="offer-mask">
                        <div class="offer-info">
                            <h3 class="offer-link">blog</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- Header - stop -->
<!-- About - start -->
<section id="about" class="scroll">
    <div class="container">
        <h1>Marco Polo Travel</h1>
        <p>Biuro Podróży <strong>Marco Polo Travel s.c.</strong> zaprasza do zapoznania się z bogatą ofertą,
            której różnorodność oraz poziom świadczonych usług powinien zadowolić każdego Klienta. </p>
        <p>Firma <strong>Marco Polo Travel s.c.</strong> jest obecna na podkarpackim rynku usług turystycznych od roku 2014,
            choć nasz zespół działał w branży turystycznej już od niemal 20 lat zapewniając wsparcie organizacyjne i logistyczne
            w ramach obowiązków pilotów, rezydentów, wychowawców, kierowników wypoczynku młodzieży czy przewodników.
            Dzięki tym doświadczeniom jesteśmy w stanie zaaranżować różnorodne podróże: zarówno <strong>wczasy rodzinne</strong>,
            <strong>wyjazdy firmowe</strong>, <strong>wycieczki szkolne</strong>, <strong>pielgrzymki do miejsc świętych</strong>,
            jak również wszelkie <strong>wyjazdy indywidualne</strong>.</p>
        <p>Firma jest Organizatorem Turystyki, zatrudniającym doświadczonych profesjonalistów w zakresie obsługi ruchu turystycznego,
            gwarantującym atrakcyjne ceny, świadczenia realizowane zgodnie z ofertą oraz przepisami <em>Ustawy o imprezach turystycznych</em>.
            Posiada wszelkie wymagane prawem licencje, gwarancje ubezpieczeniowe oraz cieszy się nieposzlakowaną opinią pewnego,
            wiarygodnego i uczciwego partnera w interesach.</p>
        <p>W ramach działalności <strong>Marco Polo Travel s.c.</strong> zorganizowaliśmy wiele imprez turystycznych obejmujących
            <strong>integracyjne wyjazdy zakładowe</strong>, <strong>wycieczki pracownicze</strong>, <strong>wycieczki szkolne</strong>, <strong>pielgrzymki</strong> oraz <strong>wczasy</strong>. </p>
        <p>Podczas wyjazdów organizowanych przez <strong>Marco Polo Travel s.c.</strong> zapewniamy najwyższy możliwy standard, adekwatny do kosztów imprezy turystycznej.
            Nie oszczędzamy na transporcie, czyli na Waszym bezpieczeństwie, w związku z czym korzystamy z autobusów najlepszych przewoźników na Podkarpaciu.</p>
        <p>W imieniu Marco Polo Travel życzymy jak najwięcej satysfakcji płynącej z podróżowania i wypoczywania wspólnie z nami.</p>
        <p>Z turystycznymi pozdrowieniami,<br/>dr Franciszek Faluszczak, <strong>Marco Polo Travel s.c.</strong></p>
    </div>    
</section>
<!-- About - stop -->
<!--Social media - start-->
<section id="social-media" class="row no-gutters full-offer home ">
    <div class="container">
        <a href="#"> <i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
    </div>
</section>
<!--Social media - stop-->
{% endblock content %}