{% extends './_base.html' %}
{% load static %}

{% block title %} Polecamy Marco Polo Travel  {% endblock title %}

{% block brand %}{% url 'webpage:home' %}{% endblock brand %}

{% block link_recommended %}{% endblock link_recommended %}

{% block about_link %}{% endblock about_link %}


{% block content %}
<!-- Header - start -->
<header id="header_recommended" class="header_container scroll">
    <div class="container-fluid">
        <div id="header_recommended_img" class="header_img"></div>
    </div>
</header>
<!-- Header - stop -->
<!-- Title - start -->
<section id="title_recommended" class="offer_title">
    <h1>Polecamy</h1>
    <a class="btn btn-primary" href="#selected_recommended">Oferta
    </a>
</section>
<!-- Title - stop -->
<!-- Selected - start -->
<section id="selected_recommended" class="selection">
    <div class="container">
        {% if recommended.0 and not recommended.0.withdrawn %}
        <div id="section-{{recommended.0.pk}}" class="row no-gutters selection-row closestElement scroll">
            <div id="recommended_img0" class="col-md-6 selected-item selected_img img0">
                <img src="{{ recommended.0.image.url }}" alt="{{ recommended.0.title }}">
            </div>
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">

                    <h2>{{ recommended.0.title }}
                    </h2>
                    <p>{{ recommended.0.short_descr }}</p>
                    <p>{{ recommended.0.duration_in_days }}
                        <span class="closed offer-details" data-url="{% url 'offer:show_offer' recommended.0.pk %}" title="pokaż szczegóły">szczegóły
                            <i class="fas fa-caret-down"></i>
                        </span>
                    </p>

                </div>
            </div>
        </div>
        {% else %}
        <div class="row no-gutters selection-row">
            <div class="col-md-6 selected-item selected_img img0">
                <img src="" alt="">
            </div>
            <div class="col-md-6 selected-item selected_data"></div>
        </div>
        {% endif %}

        {% if recommended.1 and not recommended.1.withdrawn %}
        <div id="section-{{ recommended.1.pk }}" class="row no-gutters selection-row closestElement scroll">
            <div class="col-md-6 selected-item selected-item-1 selected_data">
                <div class="selected_wrapper">

                    <h2>{{ recommended.1.title }}
                    </h2>
                    <p>{{ recommended.1.short_descr }}</p>
                    <p>{{ recommended.1.duration_in_days }}
                        <span class="closed offer-details" data-url="{% url 'offer:show_offer' recommended.1.pk %}" title="pokaż szczegóły">szczegóły
                            <i class="fas fa-caret-down"></i>
                        </span>
                    </p>

                </div>
            </div>
            <div id="recommended_img1" class="col-md-6 selected-item selected-item-1 selected_img img1">
                <img src="{{ recommended.1.image.url }}" alt="{{ recommended.1.title }}">
            </div>
        </div>
        {% else %}
        <div class="row no-gutters selection-row ">
            <div class="col-md-6 selected-item selected-item-1 selected_data"></div>
            <div class="col-md-6 selected-item selected-item-1 selected_img img1">
                <img src="" alt="">
            </div>
        </div>
        {% endif %}

        {% if recommended.2 and not recommended.2.withdrawn %}
        <div id="section-{{recommended.2.pk}}" class="row no-gutters selection-row closestElement scroll">
            <div id="recommended_img2" class="col-md-6 selected-item selected_img img2">
                <img src="{{ recommended.2.image.url }}" alt="{{ recommended.2.title }}">
            </div>
            <div class="col-md-6 selected-item selected_data">
                <div class="selected_wrapper">

                    <h2>{{ recommended.2.title }}
                    </h2>
                    <p>{{ recommended.2.short_descr }}</p>
                    <p>{{ recommended.2.duration_in_days }}
                        <span class="closed offer-details" data-url="{% url 'offer:show_offer' recommended.2.pk %}" title="pokaż szczegóły">szczegóły
                            <i class="fas fa-caret-down"></i>
                        </span>
                    </p>

                </div>
            </div>
        </div>
        {% else %}
         <div class="row no-gutters selection-row">
            <div class="col-md-6 selected-item selected_img img2">
                <img src="" alt="">
            </div>
            <div class="col-md-6 selected-item selected_data"></div>
        </div>
        {% endif %}
    </div>
</section>
<!-- Selected - stop-->
<!--Social media - start-->
<section id="social-media" class="row no-gutters full-offer recommended ">
    <div class="container">
        <a href="#"> <i class="fab fa-instagram"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
    </div>
</section>
<!--Social media - stop-->
{% endblock content %}